* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    margin-left: calc(50% - 70px);
    margin-top: 2em;
}

.layout-2 {
    display: grid;
    height: 500px;
    width: 750px;
    padding: 10px;
    margin-left: calc(50% - 375px);
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px grey;
    grid-template-columns: 1fr repeat(3, 20%) 1fr;
    grid-template-areas:
            "header header header header header"
            "nav article article article ads"
            "nav article article article ads"
            "nav article article article ads"
            "footer footer footer footer footer";
    grid-gap: 1em;
}

.header {
    grid-area: header;
    background: #FCD700;
    padding: 10px;
}

.nav {
    padding: 10px;
    grid-area: nav;
    background: #FCD700;
}

.article {
    padding: 10px;
    grid-area: article;
    background: #FCD700;
}

.ads {
    padding: 10px;
    grid-area: ads;
    background: #FCD700;
}

.footer {
    padding: 10px;
    grid-area: footer;
    background: #FCD700;
}