html, body {
    margin:0;
    padding:0;
    width:100%;
}

body {
    font-family: 'Orbitron', sans-serif;
    background-image: url("../img/background_1.png");
}
header {
    text-align: center;
    background-color: black;
    margin-top: 0;
}

.heading {
    color: #074bff;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 0;
}

#email_input {
    padding-bottom: 20px;
    padding-left: 20px;
}

#password_input {
    padding-bottom: 20px;
    padding-left: 20px;
}

#bio_input {
    padding-bottom: 20px;
    padding-left: 20px;
}

#marketing {
    padding-bottom: 20px;
    padding-left: 20px;
}

#browser {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.button {
    margin-left: 50%;
}

h4 {
    margin-left: 48%;
}

