body {
    background: #676767;
    box-sizing: border-box;

}

.navbar {
    background: #676767;
}


/*-------------------------------------jumbotron-----------------------*/
.jumbotron {
    background-image: url("../img/water.jpg");
    background-size: 100%;
    padding: 75px 0 0 0;
    height: 400px;
}

.jumbotron h1 {
    opacity: .5;
}

.btn {
    width: 150px;
}


/*----------------------------footer-------------------*/
footer {
    background: #676767;
}
.footer-links ul{
    background: #676767;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-links a {
    color: white;
}