img {
    width: 100%;
}

.main {
    width: 500px;
}

.sub-section {
    width: 500px;
}

.nav-links li {
    background: rgba(195, 195, 195, 0.77);
    list-style-type: none;
    text-align: center;
    padding: 10px;
}


@media screen and (min-width: 768px) {

    .alert {
        color: #ffffff;
    }

    .header {
        position: relative;
        display: block;
        clear: both;
    }

    .header h1 {
        margin: 0;
        float: left;
    }

    .nav-links {
        float: right;
        margin-bottom: 40px;
    }

    .nav-links li {
        position: relative;
        display: inline-block;
        list-style-type: none;
        padding-right: 5px;
    }

    .nav-links li > a {
        position: relative;
        display: block;
    }

    .main {
        width: 60%;
        float: left;
    }

    .sub-section {
        width: 40%;
        float: right
    }

    footer {
        display: block;
        margin-top: 90%;
        float: bottom;
    }
}