img {
    width: 100%;
}

.main {
    width: 500px;
}

.sub-section {
    width: 500px;
}


@media screen and (min-width: 768px) {

    .alert-info {
        color: white;
    }

    .main {
        width: 60%;
        float: left;
    }

    .sub-section {
        width: 40%;
        float: right
    }
}