* {
    box-sizing: border-box;
}

.alert {
    background: #CCFFFF;;
    border: 1px solid grey;
}

.alert a {
    padding: 20px calc(50% - 100px);
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.nav-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 11px;
    padding: 0;
}

.nav-links a {
    padding: 20px calc(50% - 20px);
}

img {
    width: 100%;
}

.main {
    width: 100%;
}

.sub-section {
    width: 100%;
}

.nav-links li {
    background: rgba(195, 195, 195, 0.77);
    list-style-type: none;
    text-align: center;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0;
}

footer p {
    margin: 0;
}

#social-media-links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
}

#social-media-links a {
    margin: 0 5px;
    color: grey;
}


@media screen and (min-width: 768px) {

    .alert {
        display: none;
    }

    .header {
        position: relative;
        display: block;
        clear: both;
    }

    .header h1 {
        margin: 0;
        float: left;
    }

    .nav-links {
        display: inline-block;
        float: right;
        margin-bottom: 40px;
    }

    .nav-links li {
        background: white;
        position: relative;
        display: inline-block;
        list-style-type: none;
        padding-right: 5px;
    }

    .nav-links li > a {
        position: relative;
        display: block;
    }

    .main {
        width: 60%;
        float: left;
    }

    .sub-section {
        width: 40%;
        float: right
    }

    footer {
        display: flex;
        margin-top: 50% ;
        float: bottom;
    }

}