:root {
    --bg-info: #879eff;
    --text-info: #5769a7;
    --bg-success: #b5ff90;
    --text-success: #4e793c;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 80%;
    margin: 10px auto;
}

.message-info {
    background-color: var(--bg-info);
    color: var(--text-info);
}

.message-success {
    background-color: var(--bg-success);
    color: var(--text-success);
}

.message-warning {
    background-color: #fffe9f;
    color: #939253;
}

.message-error {
    background-color: #ffb5cb;
    color: #875e67;
}