.jumbotron {
    background-image: url("../img/pizza.png");
}

.display-4 {
    opacity: .6;
}

.main-card-heading {
    padding: .5em;
}

.card-heading {
    padding: .5em;
}

.card-padding {
    margin-top: 15px;
}

.main-card-foot {
    padding: .5em;
}