.jumbotron {
    background-image: url("../img/pizza.png");
}

.jumbotron .container {
    background: white;
    opacity: .7;
}

.btn {
    background: #007BFF;
}

.main-card-heading {
    background: #007BFF;
    color: white;
    padding: .5em;
}

.card-heading {
    background: #F7F7F7;
    padding: .5em;
    padding-left: .7em;
}

.card2 {
    margin-top: 15px;
}

.main-card-foot {
    padding: .5em;
    background: #F7F7F7;

}

.cheese-head {
    background: #007BFF;
    padding: .5em;
    color: white;
}

.btn-group {
    width: fit-content;
}