body {
    background-color: #6c6c6c;
    background-image: url("../img/background_1.png");
    background-attachment: fixed;
    background-size: auto;
    font-family: Gayathri,sans-serif;
    margin: 0;
    text-indent: 20px;
}

.fancy-header {
    color: #64be15; /* single line comment */
    text-decoration: underline;
}

header {
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #64be15;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #64be15;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul {
    list-style: square;
}

tr td {
    padding: 10px;
    font-size: medium;
}

tr th {
    padding: 10px;
    font-size: medium;
}

a:link {
    color: #64be15;
}

a:visited {
    color: #64be15;
}

a:hover {
    color: black;
}

a:active {
    color: darkgreen;
}

#message {
    margin-left: 20px;
}

#newltr {
    margin: 20px;
}

#button {
    margin-left: 20px;
}

#question input{
    margin-left: 20px;
}

#question {
    margin-bottom: 20px;
}
