body {
    display: grid;
    grid-template-columns: repeat(12,8.3%);
    grid-template-areas:
        "nav nav nav nav nav nav nav nav nav nav nav nav"
        ". . header header header header header header header header . ."
        ". cards cards cards cards cards cards cards cards cards cards ."
        ". . . menu menu menu menu menu menu . . ."
        ". map map map map map map map map map map .";
    background-color: #e0dfe3 !important;
}
.navbar {
    grid-area: nav;
    padding: 0 16px 0 16px !important;
}
.nav-header {
    color: #95059B;
    font-family: 'Prompt', sans-serif;
}
.header {
    color: #340054;
    text-shadow: 0 0 5px white;
    grid-area: header;
    text-align: center;
    font-family: 'Prompt', sans-serif;
}
.table {
    grid-area: cards;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}
#map {
    grid-area: map;
    width: 100%;
    height: 50vh;
}
#searchAddress {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #9701D9, #9801BB, #95059B);
    color: white;
}
#menu {
    color: white;
    grid-area: menu;
    background: #340054;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}
