body {
    display: grid;
    grid-template-columns: repeat(12,8.3%);
    grid-template-areas:
        "nav nav nav nav nav nav nav nav nav nav nav nav"
        ". . header header header header header header header header . ."
        /*". . . today . threeDay . sevenDay . . . ."*/
        ". cards cards cards cards cards cards cards cards cards cards ."
        ". map map map map map map map map map map .";
    background-color: #e0dfe3 !important;
}
.navbar {
    grid-area: nav;
}
.header {
    color: #340054;
    text-shadow: 0 0 5px white;
    grid-area: header;
    text-align: center;
    font-family: 'Prompt', sans-serif;
}
#today {
    grid-area: today;
}
#threeDay {
    grid-area: threeDay;
}
#sevenDay {
    grid-area: sevenDay;
}
.table {
    grid-area: cards;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

/*.weatherDisplay {*/
/*    grid-area: cards;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-content: center;*/
/*    width: 75vw;*/
/*}*/
.card {
    font-family: 'Roboto', sans-serif;
    width: 25% !important;
}
.card-title {
    background-color: #343A40;
    margin-bottom: 0 !important;
    color: white;
    text-align: center;
}
.card-body {
    background-color: #c4c3c7;
    color: #340054;
    text-align: center;
    padding: 0;
    font-size: 15px;
}
hr {
    background-color: white !important;
}
#map {
    grid-area: map;
    width: 100%;
    height: 50vh;
}
#addressInput {
    margin: 20px 0 20px 0;
    grid-area: input;
    height: 30px;
}

#searchAddress {
    font-family: 'Roboto', sans-serif;
    background-color: #340054;
    color: white;
    margin: 20px 0 20px 10px;
    grid-area: search;
    height: 30px;
}
