body {
    margin: 0;
    display: inline-block;
}

/*------------main grid-----------------*/
body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
            "navbar navbar navbar navbar navbar"
            "jumbotron jumbotron jumbotron jumbotron jumbotron"
            " . about about about . "
            "  . . gallery-grid . ."
            "card-grid card-grid card-grid card-grid card-grid"
            "footer footer footer footer footer";
}

.navbar {
    background-color: black;
    grid-area: navbar;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;..");
}

.navbar a {
    color: white !important;
}

.navbar a:hover {
    color: #0056B3 !important;
}

.collapse a {
    color: white;
}

.jumbotron {
    grid-area: jumbotron;
    background-image: url("../img/jumbo-background.jpeg");
    background-size: cover;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    height: 95vh;
}

.j-header {
    margin-top: 10%;
}

.j-p1 {
    margin-top: 10%;
}

.j-p2 {
    margin-top: 10%;
}

.jumbotron-btn {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.about-me {
    grid-area: about;
    margin-top: 10%;
}
/*-------------gallery grid-----------*/
.gallery-container {
    /*height: 100vh;*/
    grid-area: gallery-grid;
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas:
        "plane backfly"
        "puppy flag"
        "disney snowboard";
    padding: 0 0 10% 0;
}

.gallery-container img {
    height: 200px;
    width: 200px;
    padding: 0;
}

.plane {
    grid-area: plane;
    padding: 0;
}

.backfly {
    grid-area: backfly;
}

.puppy-flight {
    grid-area: puppy;
}

.flag-flight {
    grid-area: flag;
}

.disney-family {
    grid-area: disney;
}

.snowboard {
    grid-area: snowboard;
}

.container {
    position: relative;
    width: 200px;
    height: 200px;
    padding: 0;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 200px;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    background-color: dimgrey;
    padding: 0;
}

.container:hover .overlay {
    opacity: .8;
}

.text {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0;
}



/*---------------cards grid----------------*/
.card-grid {
    background-color: #ebeaee;
    height: 100vh;
    grid-area: card-grid;
    display: grid;
    padding-bottom: 5%;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
        ". card-head card-head ."
        ". card-html card-css ."
        ". card-javascript card-java ."
        ". card-mysql card-git .";
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-grid h4 {
    margin-top: 5%;
}

.card-grid img {
    height: 100px;
    width: 100px;
    margin-top: 5%;
}

.card-head {
    padding-bottom: 0;
    grid-area: card-head;
}

.card-html {
    grid-area: card-html;
}

.card-css {
    grid-area: card-css;
}

.card-javascript {
    grid-area: card-javascript;
}

.card-javascript img {
    margin: 15px;
    height:80px;
    width: 70px;
}

.card-java {
    grid-area: card-java;
}

.card-mysql {
    grid-area: card-mysql;
}

.card-git {
    grid-area: card-git;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


/*--------footer-----------*/
.footer {
    height: 550px;
    background-color: black !important;
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-areas:
        "nav"
        "form"
        "social";
}

.nav {
    grid-area: nav;
}

.nav a {
    color: white !important;
}

.nav a:hover {
    color: #0056B3 !important;
}

.contact-form {
    grid-area: form;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.your-email {
    margin-right: 4px;
}

.social-icons {
    grid-area: social;
}

.social-list {
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.social-list a {
    color: white;
}
/*----------------contact form-----------------*/
.form-style-4{
    width: 450px;
    font-size: 16px;
    background: #c3c3c3;
    padding: 30px 30px 15px 30px;
    border: 5px solid #676767;
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #000000;
}

.form-style-4 label {
    display:block;
    margin-bottom: 10px;
}
.form-style-4 label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #000000;
    width: 275px;
    outline: none;
    padding: 0;
    font-style: italic;
}

.form-style-4 textarea{
    font-style: italic;
    padding: 0;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #676767;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:20px;
}

.form-style-4 textarea:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
    border-bottom: 1px dashed #676767;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
    background: #676767;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #c3c3c3;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
    background: #000000;
}



/*#back2Top {*/
/*    width: 40px;*/
/*    line-height: 40px;*/
/*    overflow: hidden;*/
/*    z-index: 999;*/
/*    display: none;*/
/*    cursor: pointer;*/
/*    -moz-transform: rotate(270deg);*/
/*    -webkit-transform: rotate(270deg);*/
/*    -o-transform: rotate(270deg);*/
/*    -ms-transform: rotate(270deg);*/
/*    transform: rotate(270deg);*/
/*    position: fixed;*/
/*    bottom: 50px;*/
/*    right: 0;*/
/*    background-color: #DDD;*/
/*    color: #555;*/
/*    text-align: center;*/
/*    font-size: 30px;*/
/*    text-decoration: none;*/
/*}*/
/*#back2Top:hover {*/
/*    background-color: #DDF;*/
/*    color: #000;*/
/*}*/



/*.module {*/
/*    position: relative;*/
/*}*/

/*.come-in {*/
/*    transform: translateY(150px);*/
/*    animation: come-in 0.8s ease forwards;*/
/*}*/
/*.come-in:nth-child(odd) {*/
/*    animation-duration: 0.6s; !* So they look staggered *!*/
/*}*/

/*@keyframes come-in {*/
/*    to { transform: translateY(0); }*/
/*}*/