body {
    margin: 0;
    display: inline-block;
}
/*------------main grid-----------------*/
body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
            "navbar navbar"
            "jumbotron jumbotron"
            "card-grid card-grid"
            "gallery-grid gallery-grid"
            "footer footer";
}

.navbar {
    grid-area: navbar;
}

.jumbotron {
    grid-area: jumbotron;
    background-image: url("../img/personal-jumbo-bg2.jpg");
    background-size: cover;
}

.jumbotron-btn {
    display: flex;
    justify-content: center;
}


/*---------------cards grid----------------*/
.card-grid {
    grid-area: card-grid;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
        "card-head card-head"
        "card-html card-css"
        "card-javascript card-java"
        "card-mysql card-git";
}

.card-head {
    grid-area: card-head;
}

.card-html {
    grid-area: card-html;
}

.card-html img {
    display: none;
}

.card-css {
    grid-area: card-css;
}

.card-css img {
    display: none;
}

.card-javascript {
    grid-area: card-javascript;
}

.card-javascript img {
    display: none;
    margin-top: 30px;
    height:220px;
    width: 200px;
}

.card-java {
    grid-area: card-java;
}

.card-java img {
    display: none;
}

.card-mysql {
    grid-area: card-mysql;
}

.card-mysql img {
    display: none;
}

.card-git {
    grid-area: card-git;
}

.card-git img {
    display: none;
}


/*-------------gallery grid-----------*/
.gallery-container {
    grid-area: gallery-grid;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
            "";
}

.gallery-container img {
    height: 200px;
    width: 200px;
}

.family-snow {
    grid-area: snow;
}

.backfly {
    grid-area: backfly;
}

.puppy-flight {
    grid-area: puppy;
}

.flag-flight {
    grid-area: flag;
}

.disney-family {
    grid-area: disney;
}

/*--------footer-----------*/
.footer {
    grid-area: footer;
}



